{% extends "base.html" %}

{% block page_title %}
Recipes from The Rock
{% endblock %}

{% block H1_Description %}
Welcome to Recipes from The Rock, a NL recipe website!
{% endblock %}

{% block H1_Content %}
Welcome!  Recipes from The Rock website, a place to share your favorite NL recipes with others.
Please the use the above menu above to navigate the different web pages.
{% endblock %}

{% block H2_Description %}
Please choose from the options on the menu above!
{% endblock %}

{% block H2_Content %}
You can add, remove and search for a recipe with navigation menu above.
{% endblock %}